$actionDark:  #148888;
$actionLight: #8cc8d3;
$actionBlack: #0c050c;
$actionWhite: #e7f0ed;

.bttf-card {

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  &.action {
    background-color: $actionLight;
    color: $actionBlack;

    .discontinuity .bttf-card-body span {
      transform: rotateZ(-15deg) translateY(-3px);
      font-size: 1.3em;
    }

    .bttf-card-body {
      border-top: 2px solid $actionWhite;
      border-bottom: 2px solid $actionWhite;
      background-color: $actionDark;
      color: $actionWhite;
    }

  }
}