$doubleBackDark:  #f3e717;
$doubleBackLight: #fcfb6f;
$doubleBackBlack: #1b1a16;
$doubleBackWhite: #fafafa;

.bttf-card {

  &.double-back {
    background-color: $doubleBackLight;
    color: $doubleBackBlack;

    .bttf-card-body {
      border-top: 2px solid $doubleBackWhite;
      border-bottom: 2px solid $doubleBackWhite;
      background-color: $doubleBackDark;
      color: $doubleBackBlack;
    }

  }
}