$itemDark:  #649c21;
$itemLight: #a1d074;
$itemBlack: #180406;
$itemWhite: #fefdfb;

.bttf-card {

  &.item {
    background-color: $itemLight;
    color: $itemBlack;

    .bttf-card-body {
      border-top: 2px solid $itemWhite;
      border-bottom: 2px solid $itemWhite;
      background-color: $itemDark;
      color: $itemWhite;

      .item-subtitle {
        font-weight: normal;
        font-size: 0.8em;
      }

    }

  }
}