$powerActionDark:  #9f3160;
$powerActionLight: #c96b8f;
$powerActionBlack: #24171e;
$powerActionWhite: #ffe3f7;

.bttf-card {

  &.power-action {
    background-color: $powerActionLight;
    color: $powerActionBlack;

    .bttf-card-body {
      border-top: 2px solid $powerActionWhite;
      border-bottom: 2px solid $powerActionWhite;
      background-color: $powerActionDark;
      color: $powerActionWhite;
    }

    .card-connector {
      color: white;
      font-weight: bold;
      font-size: 1.25em;
    }
  }
}