$timeMachineDark:  #191219;
$timeMachineLight: #4e4e4e;
$timeMachineWhite: #e8e9ee;

.bttf-card {

  &.time-machine {
    background-color: $timeMachineLight;
    color: $timeMachineWhite;

    .title-description {
      font-weight: normal;
      font-size: 0.85em;
      text-align: right;
    }

    .bttf-card-body {
      border-top: 2px solid $timeMachineWhite;
      border-bottom: 2px solid $timeMachineWhite;
      background-color: $timeMachineDark;
      color: $timeMachineWhite;
      text-align: left;
    }

  }
}