@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";

.app-header{
  background-color: $primary;
  position: fixed;
  width:100%;
  .navbar-item {
    color: $primary-invert;
  }
}

.app-body {
  padding: 20px;
}

.language-item {
  cursor: pointer;
}

.header-cover {
  height: 52px;
}

body {
  background-color: #efebeb;
}

.flags-container {
  padding: 0 20px;
}

.bttf-card {

  min-height: 360px;

  .card-note {
    margin-top: 5px;
  }

  .bttf-card-header {
    padding: 10px;
  }

  .bttf-card-body {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em;
  }

  .bttf-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

}